PhoneBook/[Dd]ebug/
PhoneBook/[Dd]ebugPublic/
PhoneBook/[Rr]elease/
PhoneBook/[Rr]eleases/
PhoneBook/x64/
PhoneBook/x86/
PhoneBook/build/
PhoneBook/bld/
PhoneBook/[Bb]in/
PhoneBook/[Oo]bj/
PhoneBook/results/
**/bin/Debug/
**/bin/Release/
**/[Oo]bj/
**/obj/
**/[Bb]in/